@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #1A1A1D;
  font-style: normal;
}

#head-img {
  margin-top: 60px;
}

#arrow {
  margin-top: 0px;
}

#top-nav-option {
  margin-top: 75px;
}

a {
  font-family: 'Bebas Neue', cursive;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}

a:hover {
  color: #C3073F;
  transition: all .5s;
}

@media screen and (max-width: 767px) {
  .row.content {
    height: auto;
  }
}

.card {
  background-color: #3E3E3E;
}

.card-text {
  font-family: Avenir;
  font-size: 16px;
  color: #FFFFFF;
  width: 100%;
  object-fit: cover;
}

.card-img {
  width: 60%;
  margin: auto;
  display: block;
}

.card-title {
  font-family: 'Bebas Neue', cursive;
  color: #C3073F;
  margin-top: 25px;
}

#backToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #6F2232;
  font-family: 'Bebas Neue', cursive;
  font-size: 18px;
  color: #FFFFFF;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
}

#backToTopButton:hover {
  background-color: #C3073F;
  transition: all .5s;
}
